# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.next/
out/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.env

# Hardhat
artifacts/
cache/
typechain/

# OS
.DS_Store
Thumbs.db

# Secrets
*.env
